[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pytest-django = "*"

[packages]
redis = "*"
django = "*"
whitenoise = "*"
django-environ = "*"
gunicorn = "*"
sqlparse = "*"
beautifulsoup4 = "*"
requests = "*"
python-dateutil = "*"
lxml = "*"
python-telegram-bot = "==13.15"
django-celery-beat = "*"
celery = "*"
sqlalchemy = "*"
typing-extensions = "*"
aiohttp = "*"
fake-headers = "*"
django-polymorphic = "*"
pillow = "*"
django-cleanup = "*"
django-import-export = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.9"
