[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
django = "*"
psycopg2 = "*"
whitenoise = "*"
django-environ = "*"
waitress = "*"
sqlparse = "*"
beautifulsoup4 = "*"
requests = "*"
python-dateutil = "*"
lxml = "*"
python-telegram-bot = "*"
django-celery-beat = "*"
celery = "*"
sqlalchemy = "*"
honcho = "*"
scrapetube = "*"
typing-extensions = "*"

[requires]
python_version = "3.9"
