<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ channel_title }}</title>

    <meta http-equiv="refresh" content="0; url = {{ channel_url }}" />

    <meta name="robots" content="index">
    <meta property="og:video:type" content="text/html">
    <meta name="twitter:app:name:googleplay" content="Twitch">
    <meta name="twitter:app:url:googleplay" content="twitch.tv/{{ channel_login }}">
    <link rel="alternate" media="only screen and(max-width: 640px)" href="https://m.twitch.tv/{{ channel_login }}">
    <link href="https://www.twitch.tv/{{ channel_login }}" rel="canonical">
    <meta property="fb:app_id" content="161273083968709">
    <meta content="video.other" property="og:type">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:site_name" content="Twitch">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:app:id:googleplay" content="tv.twitch.android.app">
    <meta name="twitter:app:url:iphone" content="twitch.tv/{{ channel_login }}">
    <meta name="twitter:site" content="@twitch">
    <meta property="og:video:secure_url"
        content="https://player.twitch.tv/?channel={{ channel_login }}&amp;player=facebook&amp;autoplay=true&amp;parent=meta.tag">
    <meta property="al:ios:url" content="twitch.tv/{{ channel_login }}">
    <meta name="twitter:app:id:iphone" content="id460177396">
    <meta name="twitter:app:id:ipad" content="id460177396">
    <meta name="title" content="{{ channel_title }}">
    <meta property="og:title" content="{{ channel_title }}">
    <meta property="og:image" content="{{ thumbnail_url }}">
    <meta property="og:video:width" content="620">
    <meta property="og:video:height" content="378">
    <meta name="twitter:app:url:ipad" content="twitch.tv/{{ channel_login }}">
    <meta property="al:ios:app_store_id" content="id460177396">
    <meta property="al:android:package" content="tv.twitch.android.app">
    <meta name="description" content="{{ description }}">
    <meta name="twitter:title" content="{{ channel_title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta property="al:android:app_name" content="Twitch">
    <meta name="twitter:app:name:iphone" content="Twitch">
    <meta property="og:url" content="https://www.twitch.tv/{{ channel_login }}">
    <meta name="twitter:image" content="{{ description }}">
    <meta property="og:video"
        content="https://player.twitch.tv/?channel={{ channel_login }}&amp;player=facebook&amp;autoplay=true&amp;parent=meta.tag">
    <meta property="al:ios:app_name" content="Twitch">
    <meta name="twitter:app:name:ipad" content="Twitch">
    <link rel="alternate" hreflang="x-default" href="https://www.twitch.tv/{{ channel_login }}">
</head>

</html>